{% extends 'invoice/base.html' %}
{% block content %}
<div class="columns is-centered has-text-centered">
    <div class="column is-half">
        <div class="card has-background-white-ter">
            <h1 class="title is-3"></h1>
        </div>
    </div>
</div>
<div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                All invoices &nbsp;<a href="{% url 'invoice:invoice-create' %}" 
                class="button is-rounded is-info">Create Invoice</a>
            </p>
        </header>
        <div class="card-content">
            <div class="content">

                <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                    <tbody>
                        <thead>
                            <tr>
                                <th>INVOICE</th>
                                <th>CUSTOMER</th>
                                <th>DATE</th>
                                <th>TOTAL</th>
                                <th>STATUS</th>
                                <th>VIEW</th>
                                <th>DOWNLOAD</th>
                            </tr>
                        </thead>
                        {% for invoice in invoices %}
                        <tr>
                            <td >#{{invoice.id}}</td>
                            <td>{{invoice.customer}}</td>
                            <td> {{invoice.date}}</td>
                            <td>{{invoice.total_amount}}</td>
                            <td>
                                {% if invoice.get_status == 'Paid' %}
                                <a class="button is-small is-success" href="#">Paid</a>
                                {% elif invoice.get_status == 'Unpaid' %}
                                <a class="button is-small is-danger" href="#">Unpaid</a>
                                {% else %}
                                <a class="button is-small is-warning" href="#">Due</a>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'invoice:invoice-detail' id=invoice.id %}">
                                <div class="button is-small is-info">View</div>
                            </a></td>
                            <td><a href="{% url 'invoice:invoice-download' id=invoice.id %}">Download</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div><br /><br /><br />
</div>

{% endblock content %}